.login-from-container{
    width:550px;
    
   
}
.login-from{
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    border-radius: 4px;
    padding:30px 30px 10px 30px;
    margin: 10px;
    margin-top: 100px;
    text-align: center;

}

#new-user{
    width: 20px;
}

.login-from input{
    width: 100%;
    border:none;
    border-bottom: 1px solid rgb(148, 148, 148);
    margin-bottom: 25px;
    padding-bottom: 5px;

}

.googleFbLoginBtn{
    
    margin-bottom: 10px;
    text-align: center;
    background-size: 100%;
}

.googleFbLoginBtn img{
    width:30px;
    height:30px;
    object-fit: cover;
    object-position: center;
}

.googleFbLoginBtn button{
    background-color: lightgreen;
    margin-left: 10px;
    width: 200px;
    border: none;
    border-radius: 3px;
}



