.login{
    text-align: center;
    border: 1px solid black;
    margin: 100px 500px;
   
     
}

.login input{
   background-color: white;
   border-top: none;
   border-left: none;
   border-right: none;
   border-radius: 3px;
   border-bottom: 1px solid black;
   margin-top: 20px;

}
.login-btn{
    background-color: rgb(245, 90, 0);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-origin: padding-box;
    border: none;
    width: 100px;
    color:white;

}
.login-gf{
    background-color:#F9A51A;
   
    text-align: center;
    text-decoration: none;
    background-origin: padding-box;
    border: none;
    width:200px;
    color:white;
    margin-top: 30px;
}
.icon{
    width: 30px;
}